/* Landing.css */

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
    color: #fff;  /* changed to white for a b&w theme */
    background-color: #000;  /* changed to black for a b&w theme */
}

.landing-content {
    flex: 1;
    padding-right: 50px;
}

.landing-image {
    flex: 1;
    text-align: right;
}

.landing-image img {
    max-width: 100%;
    height: auto;
}

.h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;  /* changed to white for a b&w theme */
}

.profession-text {
    font-size: 1.5rem;
    color: #fff;  /* changed to white for a b&w theme */
}

.short-description {
    color: #fff;  /* changed to white for a b&w theme */
    font-size: 1.2rem;
    margin-top: 20px;
}

.cta-container {
    margin-top: 20px;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #000;  /* changed to black for contrast with the button color */
    background-color: #fff;  /* changed to white for contrast with the bg color */
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.cta-btn:hover {
    background-color: #666;  /* changed to a lighter gray for the hover effect */
}

.landing-image img {
    width: 20vw;  /* adjust as needed */
    height: auto;
    border-radius: 20%;  /* makes the image circular, remove if not needed */
}
