.node {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50vh 0;  /* Increased vertical margins */
    position: relative;
}

.node-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

.node-content {
    width: 50%;
    text-align: center;
    color: white;
    padding: 20px;
    display: flex; /* this allows align-items to have an effect */
    padding-top: 0;
    flex-direction: column;  
}

.node-content.left {
    text-align: right;
    padding-right: 30vw;
    align-items: flex-start;
}

.node-content.right {
    text-align: left;
    padding-left: 30vw;
}

.node-year {
    font-size: 5vw;  /* Increased font size */
    margin-bottom: 10px;
    margin-top: 0;
}

.node-year.left {
    padding-right: 80px;
}

.node-year.right {
    padding-left: 50px;
}

.node-achievements {
    list-style-type: none;
    padding: 0;
    text-align: left;
    font-size: 1.5rem;  /* Increased font size */
}

.node-achievements.left {
    padding-right: 50px;
    text-align: right;
}

.node-achievements.right {
    padding-left: 50px;
    text-align: left;
}

.node-subtitle.left {
    padding-right: 50px;
    text-align: right;
}

.node-subtitle.right {
    padding-left: 50px;
    text-align: left;
}

