.timeline {
    background-color: #000;
    color: #fff;
    position: relative;
    padding: 50px 0;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #fff;
}
